<md-sidenav-container fxFlexFill class="smst-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true" class="smst-sidenav">
    <div class="smst-scrolling-content">
      <nav fxFlex>
        <h3 fxFlex>title</h3>
        <ul>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
        </ul>
      </nav>
      <nav fxFlex>
        <h3 fxFlex>title</h3>
        <ul>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
        </ul>
      </nav>
      <nav fxFlex>
        <h3 fxFlex>title</h3>
        <ul>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
        </ul>
      </nav>
      <nav fxFlex>
        <h3 fxFlex>title</h3>
        <ul>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
        </ul>
      </nav>
      <nav fxFlex>
        <h3 fxFlex>title</h3>
        <ul>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
        </ul>
      </nav>
      <nav fxFlex>
        <h3 fxFlex>title</h3>
        <ul>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
        </ul>
      </nav>
      <nav fxFlex>
        <h3 fxFlex>title</h3>
        <ul>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
        </ul>
      </nav>
      <nav fxFlex>
        <h3 fxFlex>title</h3>
        <ul>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
          <li>
            <a routerlinkactive="docs-component-viewer-sidenav-item-selected" href="/components/component/grid-list" class="">
                        Grid list
                      </a>
          </li>
        </ul>
      </nav>
    </div>
  </md-sidenav>
<!--   <button md-mini-fab class="smst-fab" (click)="sidenav.toggle()">
    <md-icon>open</md-icon>
  </button> -->
  <div fxLayout="column" fxFlex class="smst-scrolling-content">
<!--     <div fxFlex="5" style="background: rgba(0,0,0,.03);">
    面包屑</div> -->
    <!-- <garage-list fxFlex></garage-list> -->
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>