.smst-admin-map {
	margin: 0 20px;
}
.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
  padding-right:40px;
}

.example-icon {
  padding: 0 30px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}